Repository Jin-Personal-Site/web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"eslint --fix --cache",
		"prettier --write --list-different --ignore-unknown"
	],
	"*.{css,json}": ["prettier --write --list-different --ignore-unknown"],
	"package.json": "sort-package-json"
}

feat(home): update headline of each section
  src/containers/home-page/ArticleSection/index.tsx
  src/containers/home-page/ProjectSection/index.tsx
  src/containers/home-page/SkillSection/index.tsx
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat: implement introduction content and carousel
  .eslintrc.json
  .prettierrc
  bun.lockb
  package.json
  src/app/(home)/page.tsx
  src/app/about/page.tsx
  src/app/layout.tsx
  src/components/common/buttons/BaseButton/index.tsx
  src/components/common/buttons/TextButton/index.tsx
  src/components/common/canvas/TechSphere/index.tsx
  src/components/common/container/SwiperContainer/index.tsx
  src/components/common/frame/index.tsx
  src/components/common/pdf/PdfViewer/PdfViewer.stories.tsx
  src/components/common/pdf/PdfViewer/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/layout/Footer/index.tsx
  src/components/layout/Header/index.tsx
  src/containers/about-page/MyIntroduction/index.tsx
  src/containers/about-page/PictureCarousel/index.tsx
  src/libs/faker.ts
  src/libs/interval.ts
  src/services/getOverviewData.ts
  src/types/props.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

chore: format import order
  src/app/resume-preview/page.tsx
  src/components/common/canvas/TechSphere/TechSphere.stories.tsx
  src/components/common/frame/PictureFrame.stories.tsx
  src/components/common/time/CurrentTime/CurrentTime.stories.tsx
  src/components/common/time/CurrentTime/index.tsx
  src/containers/home-page/AnchorSection/index.tsx
  src/containers/home-page/ArticleSection/index.tsx
  src/containers/home-page/ContactSection/index.tsx
  src/containers/home-page/ProjectSection/index.tsx
  src/libs/datetime.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat: implement work experience section in about page
  .vscode/settings.json
  bun.lockb
  package.json
  public/json/overview.json
  public/zalo.svg
  src/app/(home)/page.tsx
  src/app/about/page.tsx
  src/components/common/chips/BaseChip/BaseChip.stories.tsx
  src/components/common/chips/BaseChip/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/layout/Footer/index.tsx
  src/components/layout/Header/index.tsx
  src/containers/about-page/ExperienceBackground/index.tsx
  src/containers/about-page/ExperienceProgressBar/index.tsx
  src/containers/about-page/MyIntroduction/index.tsx
  src/containers/about-page/PictureCarousel/index.tsx
  src/containers/home-page/ProjectSection/index.tsx
  src/libs/event.ts
  src/libs/faker.ts
  src/libs/tailwind.ts
  src/libs/text.ts
  src/services/getOverviewData.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(about): install lenis for smooth scrolling
  bun.lockb
  package.json
  src/app/layout.tsx
  src/containers/about-page/ExperienceProgressBar/index.tsx
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(about): implement Github contributions calendar
  bun.lockb
  package.json
  src/app/about/page.tsx
  src/containers/about-page/GithubContribution/GithubContribution.css
  src/containers/about-page/GithubContribution/index.tsx
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(about): temporarily done About page
  bun.lockb
  next.config.ts
  package.json
  src/app/about/page.tsx
  src/app/project/[slug]/page.tsx
  src/app/project/page.tsx
  src/components/common/card/BaseCard/index.tsx
  src/containers/about-page/AboutExplore/index.tsx
  src/containers/home-page/ContactSection/index.tsx
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

refactor: move ContactSection to common components
  .vscode/settings.json
  src/app/(home)/page.tsx
  src/app/about/page.tsx
  src/app/project/page.tsx
  src/components/contact/GetInTouch/index.tsx
  src/types/props.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat(project-list): temporarily done project list page
  src/app/project/page.tsx
  src/components/heading/SectionHeading/index.tsx
  src/components/project/ProjectList/index.tsx
  src/components/project/ProjectListItem/index.tsx
  src/models/project.ts
  src/services/project.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat: temporarily add HTML content for project detail page
  src/app/project/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/components/common/images/ImageWithFallback/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/project/ProjectList/index.tsx
  src/components/project/ProjectListItem/index.tsx
  src/containers/about-page/MyIntroduction/index.tsx
  src/containers/home-page/HeroSection/index.tsx
  src/containers/project-detail-page/ProjectContent/index.tsx
  src/containers/project-detail-page/ProjectHero/index.tsx
  src/libs/faker.ts
  src/models/project.ts
  src/services/overview-info.ts
  src/services/project-detail.ts
  src/services/project.ts
  src/types/utility.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat(mobile,project-detail): temporarily add HTML content for project detail page
  src/app/project/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/components/common/images/ImageWithFallback/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/project/ProjectList/index.tsx
  src/components/project/ProjectListItem/index.tsx
  src/containers/about-page/MyIntroduction/index.tsx
  src/containers/home-page/HeroSection/index.tsx
  src/containers/project-detail-page/ProjectContent/index.tsx
  src/containers/project-detail-page/ProjectHero/index.tsx
  src/libs/faker.ts
  src/models/project.ts
  src/services/overview-info.ts
  src/services/project-detail.ts
  src/services/project.ts
  src/types/utility.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat(mobile,project-detail): complete project detail hero section
  .prettierrc
  src/app/projects/page.tsx
  src/components/common/buttons/BaseButton/index.tsx
  src/components/common/chips/BaseChip/index.tsx
  src/components/common/frame/PictureFrame/PictureFrame.stories.tsx
  src/components/common/frame/PictureFrame/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/project/ProjectListItem/index.tsx
  src/containers/about-page/AboutExplore/index.tsx
  src/containers/about-page/ExperienceBackground/index.tsx
  src/containers/about-page/ExperienceProgressBar/index.tsx
  src/containers/about-page/GithubContribution/index.tsx
  src/containers/project-detail-page/ProjectHero/index.tsx
  src/models/project.ts
  src/services/project-detail.ts
  src/styles/_theme.css
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

style(mobile,project-detail): style wrapper of editor content
  bun.lockb
  next.config.ts
  package.json
  postcss.config.mjs
  public/project1.avif
  src/app/projects/[slug]/page.tsx
  src/components/common/images/ImageWithFallback/index.tsx
  src/containers/home-page/ProjectSection/index.tsx
  src/containers/project-detail-page/ProjectContent/index.tsx
  src/containers/project-detail-page/ProjectHero/index.tsx
  src/services/project-detail.ts
  src/services/project.ts
  src/styles/global.css
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(mobile,project-detail): add bundle analyzer package
  bun.lockb
  next.config.ts
  package.json
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

refactor: remove default stories directory
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

chore: upgrade next and react package
  bun.lockb
  package.json
Due: prettier --write --list-different --ignore-unknown, sort-package-json

feat(mobile,menu): implement theme loader and provider
  .prettierrc
  .vscode/settings.json
  postcss.config.mjs
  src/app/layout.tsx
  src/components/providers/ThemeProvider.tsx
  src/hooks/useLocalStorage.ts
  src/hooks/useMeta.ts
  src/styles/_component.css
  src/styles/_theme.css
  src/styles/global.css
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

feat(mobile,menu): implement completely menu modal
  public/json/overview.json
  src/app/about/page.tsx
  src/components/common/buttons/MenuButton/index.tsx
  src/components/common/dialog/Modal/index.tsx
  src/components/common/frame/PictureFrame/PictureFrame.stories.tsx
  src/components/common/scroll/SmoothScrollTo/index.tsx
  src/components/common/time/CurrentTime/index.tsx
  src/components/contact/SocialIcon/index.tsx
  src/components/contact/SocialMedia/index.tsx
  src/components/layout/Header/index.tsx
  src/components/menu/HeaderMenu/index.tsx
  src/components/menu/HeaderMenuNavigation/index.tsx
  src/components/menu/LanguageGroupButton/index.tsx
  src/components/menu/ThemeGroupButton/index.tsx
  src/containers/about-page/GithubContribution/index.tsx
  src/containers/about-page/PictureCarousel/index.tsx
  src/models/project.ts
  src/services/overview-info.ts
  src/services/project-detail.ts
  src/types/props.ts
  src/types/utility.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

refactor: update package dependencies location
  bun.lockb
  package.json
Due: prettier --write --list-different --ignore-unknown, sort-package-json

feat(mobile,article-list): temporarily done article list page
  .github/workflows/deploy-app.yml
  .vscode/settings.json
  next.config.ts
  package.json
  public/json/article-list.json
  public/json/article-topic.json
  src/app/article/page.tsx
  src/app/articles/page.tsx
  src/app/layout.tsx
  src/components/common/chips/BaseChip/index.tsx
  src/components/common/images/CoverImage/index.tsx
  src/components/heading/SectionHeading/index.tsx
  src/containers/article-list/ArticleListItem/index.tsx
  src/containers/article-list/ArticlePostedTime/index.tsx
  src/containers/article-list/ArticleSearchBar/index.tsx
  src/containers/article-list/ArticleSortFilter/index.tsx
  src/containers/article-list/ArticleSortItem/index.tsx
  src/containers/article-list/ArticleTopicList/index.tsx
  src/hooks/useOutsideClickRef.ts
  src/libs/datetime.ts
  src/libs/tailwind.ts
  src/libs/text.ts
  src/models/article.ts
  src/services/article-list.ts
  src/styles/_theme.css
  src/styles/global.css
  src/types/props.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(mobile,article-detail): temporarily complete article detail page
  bun.lockb
  package.json
  public/json/article-list.json
  src/app/articles/[slug]/page.tsx
  src/components/author/AuthorWithSocial/index.tsx
  src/components/card/DescriptionCard/index.tsx
  src/components/common/chips/BaseChip/index.tsx
  src/components/common/separator/Dot/index.tsx
  src/components/layout/Footer/index.tsx
  src/containers/article-detail/ArticleContent/index.tsx
  src/containers/article-detail/ArticleDetailMainInfo/index.tsx
  src/containers/article-detail/ArticleFooter/index.tsx
  src/containers/article-detail/LatestArticleList/index.tsx
  src/containers/article-detail/RelatedArticleList/index.tsx
  src/containers/article-list/ArticleListItem/index.tsx
  src/containers/article-list/ArticlePostedTime/index.tsx
  src/libs/tailwind.ts
  src/models/article.ts
  src/services/article-list.ts
  src/styles/_variant.css
  src/styles/global.css
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown, sort-package-json

feat(mobile,links): implement mobile UI of Links page
  .vscode/settings.json
  src/app/links/page.tsx
  src/components/common/buttons/BaseButton/index.tsx
  src/components/menu/HeaderMenuNavigation/index.tsx
  src/containers/links-page/LinksSection/index.tsx
  src/containers/links-page/ProfileSection/index.tsx
  src/containers/project-detail-page/ProjectHero/index.tsx
  src/styles/_theme.css
  src/types/props.ts
Due: eslint --fix --cache, prettier --write --list-different --ignore-unknown

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/deploy-app.yml
Due: none
